<div style="float:right; padding-top: 15px; padding-right: 15px">
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="250">
        </a>
    </div>
</div>

# Dictionaries, Sets and Tuples

## Tuples

Tuples are sequences just like list. However, the main difference between tuples and lists is that tuples are immutable. This means that the values inside of a tuple cannot be overwritten (or mutated) once the tuple is defined and new values cannot be added

In [1]:
chocolates = ('dark', 'milk', 'semi sweet')

In [2]:
chocolates[0]

'dark'

In [3]:
chocolates[0] = 'caramel filled'

TypeError: 'tuple' object does not support item assignment

In [4]:
chocolates[3] = 'caramel filled'

TypeError: 'tuple' object does not support item assignment

In [5]:
len(chocolates)

3

In [6]:
for chocolate in chocolates:
    print(chocolate)

dark
milk
semi sweet

In [7]:
list(chocolates)

['dark', 'milk', 'semi sweet']

In [8]:
set(chocolates)

{'dark', 'milk', 'semi sweet'}

## Dictionaries

Sometimes we don't just want to store data in a sequence. There are cases where we want to easily retrieve our data rather than iterate through an entire list. There are also cases where we need to label our data. For those cases we should use unique key storing that dictionaries provide

In [9]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

contacts

{'John': '312-555-1234',
 'Paul': '312-555-3123',
 'George': '312-555-3333',
 'Ringo': '312-555-2222'}

In [10]:
len(contacts)

4

In [11]:
contacts.keys()

dict_keys(['John', 'Paul', 'George', 'Ringo'])

In [12]:
list(contacts.keys())

['John', 'Paul', 'George', 'Ringo']

In [13]:
contacts.values()

dict_values(['312-555-1234', '312-555-3123', '312-555-3333', '312-555-2222'])

In [14]:
contacts.items()

dict_items([('John', '312-555-1234'), ('Paul', '312-555-3123'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

In [15]:
list(contacts.items())

[('John', '312-555-1234'),
 ('Paul', '312-555-3123'),
 ('George', '312-555-3333'),
 ('Ringo', '312-555-2222')]

In [16]:
contacts['Paul'] = 2
contacts['George'] = ['312-555-1111', 5, set({3,4})]
contacts['John'] = {'test_key': 'test_value'}

contacts

{'John': {'test_key': 'test_value'},
 'Paul': 2,
 'George': ['312-555-1111', 5, {3, 4}],
 'Ringo': '312-555-2222'}

In [17]:
contacts['John']['test_key']

'test_value'

In [18]:
list(contacts.items())[0]

('John', {'test_key': 'test_value'})

In [19]:
query_dict = list(contacts.items())[0]

query_dict[1]['test_key']

'test_value'

In [20]:
contacts['Pete'] = '312-555-1111'

contacts

{'John': {'test_key': 'test_value'},
 'Paul': 2,
 'George': ['312-555-1111', 5, {3, 4}],
 'Ringo': '312-555-2222',
 'Pete': '312-555-1111'}

In [21]:
del contacts['Pete']

contacts

{'John': {'test_key': 'test_value'},
 'Paul': 2,
 'George': ['312-555-1111', 5, {3, 4}],
 'Ringo': '312-555-2222'}

In [22]:
for i in contacts.keys():
     print(i)

print()

for i in contacts:
     print(i)

print()

for i in contacts.values():
    print(i)

John
Paul
George
Ringo

John
Paul
George
Ringo

{'test_key': 'test_value'}
2
['312-555-1111', 5, {3, 4}]
312-555-2222

In [23]:
contacts.items()

dict_items([('John', {'test_key': 'test_value'}), ('Paul', 2), ('George', ['312-555-1111', 5, {3, 4}]), ('Ringo', '312-555-2222')])

In [24]:
for item in contacts.items():
     print(f'{item[0]}: {item[1]}')

print()
        
for k, v in contacts.items():
     print(f'{k}: {v}')

John: {'test_key': 'test_value'}
Paul: 2
George: ['312-555-1111', 5, {3, 4}]
Ringo: 312-555-2222

John: {'test_key': 'test_value'}
Paul: 2
George: ['312-555-1111', 5, {3, 4}]
Ringo: 312-555-2222

In [25]:
contacts['Pedro'] = '312-555-2222'

contacts

{'John': {'test_key': 'test_value'},
 'Paul': 2,
 'George': ['312-555-1111', 5, {3, 4}],
 'Ringo': '312-555-2222',
 'Pedro': '312-555-2222'}

In [26]:
for key, value in contacts.items():
    print(f'this is the key: {key}')
    print(f'this is the value: {value}')
    if type(value) == type(contacts['Pedro']):
        if value == contacts['Pedro']:
            print(f'match!! {key}')
    else:
        print(f'type {type(value)} does not match with {type(contacts["Pedro"])}')

this is the key: John
this is the value: {'test_key': 'test_value'}
type <class 'dict'> does not match with <class 'str'>
this is the key: Paul
this is the value: 2
type <class 'int'> does not match with <class 'str'>
this is the key: George
this is the value: ['312-555-1111', 5, {3, 4}]
type <class 'list'> does not match with <class 'str'>
this is the key: Ringo
this is the value: 312-555-2222
match!! Ringo
this is the key: Pedro
this is the value: 312-555-2222
match!! Pedro

In [27]:
for key, value in contacts.items():
    print(f'this is the key: {key}')
    print(f'this is the value: {value}')
    if isinstance(value, str):
        if value == contacts['Pedro']:
            print(f'match!! {key}')
    else:
        print(f'type {type(value)} does not match with {type(contacts["Pedro"])}')

this is the key: John
this is the value: {'test_key': 'test_value'}
type <class 'dict'> does not match with <class 'str'>
this is the key: Paul
this is the value: 2
type <class 'int'> does not match with <class 'str'>
this is the key: George
this is the value: ['312-555-1111', 5, {3, 4}]
type <class 'list'> does not match with <class 'str'>
this is the key: Ringo
this is the value: 312-555-2222
match!! Ringo
this is the key: Pedro
this is the value: 312-555-2222
match!! Pedro

## Sets

Sets are unordered collections of unique elements. Similar to lists, they are also mutable

In [28]:
letters = set()

letters

set()

In [29]:
letters.add('a')

letters

{'a'}

In [30]:
letters.add('b')

letters

{'a', 'b'}

In [31]:
letters

{'a', 'b'}

In [32]:
letters.remove('a')

letters

{'b'}

In [33]:
girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna'])
boy_names = set(['John', 'Alexander', 'Logan', 'Madison'])

unisex_names = girl_names.intersection(boy_names)
print(unisex_names)

all_names = boy_names.union(girl_names)
print(all_names)

boy_only_names = boy_names - girl_names
print(boy_only_names)

girl_only_names = girl_names - boy_names
print(girl_only_names)

{'Logan', 'Madison'}
{'Mary', 'Madison', 'Logan', 'Alexander', 'Joanna', 'John'}
{'Alexander', 'John'}
{'Joanna', 'Mary'}

In [34]:
all_names = boy_names + girl_names
print(all_names)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [35]:
text_with_duplicates = 'this is a great great blue car'

In [36]:
text_list = text_with_duplicates.split()

text_list

['this', 'is', 'a', 'great', 'great', 'blue', 'car']

In [37]:
text_list

['this', 'is', 'a', 'great', 'great', 'blue', 'car']

In [38]:
set(text_list)

{'a', 'blue', 'car', 'great', 'is', 'this'}

<div style="padding-top: 25px; float: right">
    <div>    
        <i>&nbsp;&nbsp;Â© Copyright by</i>
    </div>
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="125">
        </a>
    </div>
</div>