<div style="float:right; padding-top: 15px; padding-right: 15px">
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="250">
        </a>
    </div>
</div>

# Map, Filter, Reduce

## 1. map

- sintax: map(function, iterable), where function can be either a regular function or a lambda
- we expect an iterable of the same length as the original iterable

In [4]:
def half(x):
    return x / 2

In [39]:
half = lambda x: x / 2

In [35]:
l = [10, 12, 34, 23]
my_map = map(half, l)

# comanda
my_map

In [36]:
for i in my_map:
    print(i)

5.0
6.0
17.0
11.5

In [37]:
for i in my_map:
    print(i)

In [38]:
list(my_map)

[]

In [40]:
def more_complex_for_map(x):
    y = x / 2
    z = half(y)
    
    print('ey there!')
    
    return y + z

In [41]:
list(map(more_complex_for_map, l))

ey there!
ey there!
ey there!
ey there!

[7.5, 9.0, 25.5, 17.25]

## 2. filter

- sintax: filter(function, iterable), where function can be either a regular function or a lambda
- we expect an iterable of less or the same length as the original iterable

In [52]:
l = [10, 12, 34, 23]
filter_object = filter(lambda x: x % 2 == 1, l)

filter_object

In [53]:
list(filter_object)

[23]

In [54]:
def my_custom_filter(x):
    
    if x < 13:
        return True
    else:
        return False

In [55]:
list(filter(my_custom_filter, l))

[10, 12]

## 3. reduce

- sintax: reduce(function, iterable), where function can be either a regular function or a lambda
- the reduce function starts from the beginning of the iterable and operates on two consecutive elements at a time
- we expect an object resulting of operating with the iterable elements

[1,2,3,4] -> [1,2], [[1,2],3], [[[1,2],3],4]

In [57]:
# we need to import it as it is not a standard python function
from functools import reduce

l = [1, 2, 3, 4]
reduce(lambda a, b: a + b, l)

10

In [58]:
(((1+2) + 3) + 4)

10

In [59]:
sum(l)

10

In [62]:
broken_minds = [[1,2], [3,4], [5,6]]

In [81]:
def smart_reduce(a, b):
    a.extend(b)
    return a

In [69]:
a = [1,2]
b = [3,4]
a.extend(b)

In [70]:
a

[1, 2, 3, 4]

In [71]:
a = [1,2]
b = [3,4]
a.append(b)

In [72]:
a

[1, 2, [3, 4]]

In [76]:
a = [[1,2],[2,3]]
b = [3,4]
b.extend(a)

In [77]:
a

[[1, 2], [2, 3]]

In [78]:
b

[3, 4, [1, 2], [2, 3]]

In [82]:
broken_minds = [[1,2], [3,4], [5,6]]

def smart_reduce(a, b):
    a.extend(b)
    return a

In [83]:
reduce(smart_reduce, broken_minds)

[1, 2, 3, 4, 5, 6]

In [87]:
init = [1,2]
# init = [1,2]

init.extend([3,4])
# init = [1,2,3,4]

init.extend([5,6])
# init = [1,2,3,4,5,6]

init

[1, 2, 3, 4, 5, 6]

In [89]:
broken_minds = [[1,2], [3,4], [5,6]]

def smart_reduce_append(a, b):
    a.append(b)
    return a

reduce(smart_reduce_append, broken_minds)

[1, 2, [3, 4], [5, 6]]

## 4. pandas apply

In [93]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.random((4, 3)), columns=['a', 'b', 'c'])

df

          a         b         c
0  0.609055  0.812645  0.110541
1  0.334392  0.566455  0.907807
2  0.988387  0.826823  0.411830
3  0.313563  0.265477  0.180051

In [94]:
df.apply(half)

          a         b         c
0  0.304527  0.406322  0.055271
1  0.167196  0.283227  0.453903
2  0.494194  0.413411  0.205915
3  0.156781  0.132739  0.090026

The apply method is widely used on Series and not in DataFrames due to type issues

In [100]:
df['a'] = df['a'].apply(half)

df['a']

0    0.304527
1    0.167196
2    0.494194
3    0.156781
Name: a, dtype: float64

In [101]:
df

          a         b         c
0  0.304527  0.812645  0.110541
1  0.167196  0.566455  0.907807
2  0.494194  0.826823  0.411830
3  0.156781  0.265477  0.180051

<div style="padding-top: 25px; float: right">
    <div>    
        <i>&nbsp;&nbsp;Â© Copyright by</i>
    </div>
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="125">
        </a>
    </div>
</div>